<!DOCTYPE html>
<html ng-app="ngSwitcherApp">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="ng-switcher: Simple AngularJS directive for toggle switch " />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//rawgithub.com/theaqua/ng-switcher/master/dist/ng-switcher.min.css">

    <title>ng-switcher by theaqua</title>
  </head>

  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
          <h1>ng-switcher</h1>
        </div>

        <h2>Demo</h2>

        <div ng-model="switchStatus" ng-switcher></div>

        <h2>Installation</h2>

        <p>Download <a href="//raw.github.com/theaqua/ng-switcher/master/dist/ng-switcher.min.js">ng-switcher.min.js</a> or install with bower</p>
        <pre>$ bower install ng-switcher</pre>

        <p>Add module <code>theaquaNg</code> to your AngularJS application</p>
        <pre>angular.module('app', ['theaquaNg'])</pre>

        <h2>Usage</h2>

        <pre>&lt;div ng-switcher ng-model="switchStatus"&gt;&lt;/div&gt;</pre>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//rawgithub.com/theaqua/ng-switcher/master/dist/ng-switcher.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
